---
import '@fontsource-variable/nunito'

import Features from '../components/Features.astro'
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import Nav from '../components/nav/Nav.astro'
import Seo from '../components/Seo.astro'
import '../styles/home.css'

const homeSeo = {
    title: 'Welcome to Unistyles 2.0 | Unistyles',
    description: 'Level up your React Native StyleSheet'
}
---

<Seo seo={homeSeo}>
    <Nav />
    <main>
        <Hero />
        <Features />
        <Footer />
    </main>
</Seo>

<style>
    main {
        margin-top: 100px;
        position: relative;
        overflow-x: hidden;
    }
</style>
