---
import codemaskLogo from '../assets/codemask.svg'

const logo = codemaskLogo
---


<div class="codemask">
    <span class="brought">
        Brought to you by Codemask
    </span>
    <a href="https://codemask.com" target="_blank">
        <img src={logo.src} alt="codemask" />
    </a>
    <span class="codemask-description">
        Bridging Your Idea to the digital world
        <br />
        Your experts in mobile and web development
    </span>
</div>
