---
import { Image } from 'astro:assets'
import CodemaskLogo from '../assets/codemask-black.svg'
import Clouds from '../assets/clouds.svg'

const motto = 'Bridging Your Idea to the digital world\nYour experts in mobile and web development'
---

<footer>
    <Image
        class="clouds"
        src={Clouds}
        alt=""
    />
    <div class="footer-content">
        <h3>
            Brought to you by Codemask
        </h3>
        <Image
            src={CodemaskLogo}
            class="footer-logo"
            alt=""
        />
        <p>
            {motto}
        </p>
    </div>
</footer>

<style>
    footer {
        position: relative;
        padding: 0;
        margin: 0;
        color: var(--black);
        margin-top: 15vw;
    }

    .clouds {
        width: 100vw;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .footer-content {
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        position: relative;
        padding-bottom: 52px;
    }

    .footer-logo {
        width: 256px;
        height: auto;
    }

    h3 {
        font-weight: 600;
        font-size: 12px;
    }

    p {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        white-space: break-spaces;
    }
</style>
